body{
	max-width: 980px;
	margin: 0 auto;
}
audio{
	display:none;
}
.url{
	padding:10px;
	border-radius: 5px;
	border:3px solid #fff;
}
.url:hover{
	/*background: #000;*/
	/*color:#fff;*/
	/*border:3px solid red;*/
}
.active{
	border:3px solid red;
}

a.botones img {
	max-width: 80px;
}

#enlaceplay,
#enlacepause{
	font-size: 60px;
  	display: block;
  	text-align: center;
}
